<!DOCTYPE xml >

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">

	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>controller</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>controller</servlet-name>
		<url-pattern>/controller/*</url-pattern>
	</servlet-mapping>


	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>


	<welcome-file-list>
		<welcome-file>
			index.html
		</welcome-file>
	</welcome-file-list>

	<!-- <filter> -->
	<!-- <filter-name>SessionFilter</filter-name> -->
	<!-- <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
	<!-- </filter> -->
	<!-- Filter -->
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>de.reservo.filter.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Anon filter -->
	<filter>
		<filter-name>AnonFilter</filter-name>
		<filter-class>de.reservo.filter.AnonFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AnonFilter</filter-name>
		<url-pattern>/controller/auth/login</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AnonFilter</filter-name>
		<url-pattern>/controller/auth/resetPassword</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AnonFilter</filter-name>
		<url-pattern>/controller/auth/registerServiceProvider</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AnonFilter</filter-name>
		<url-pattern>/controller/auth/registerClient</url-pattern>
	</filter-mapping>

	<!-- Auth filter -->
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>de.reservo.filter.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/controller/auth/logout</url-pattern>
	</filter-mapping>

	<!-- Client filter -->
	<filter>
		<filter-name>ClientFilter</filter-name>
		<filter-class>de.reservo.filter.ClientFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ClientFilter</filter-name>
		<url-pattern>/controller/client/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ClientFilter</filter-name>
		<url-pattern>/controller/appointment/client/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ClientFilter</filter-name>
		<url-pattern>/controller/serviceprovider/getAppointments</url-pattern>
	</filter-mapping>

	<!-- Employee role employee filter -->
	<filter>
		<filter-name>EmployeeEmployeeFilter</filter-name>
		<filter-class>de.reservo.filter.EmployeeEmployeeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EmployeeEmployeeFilter</filter-name>
		<url-pattern>/controller/appointment/serviceprovider/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeEmployeeFilter</filter-name>
		<url-pattern>/controller/serviceprovider/get</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeEmployeeFilter</filter-name>
		<url-pattern>/controller/serviceprovider/client/getBlockedClients</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeEmployeeFilter</filter-name>
		<url-pattern>/controller/employee/get</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeEmployeeFilter</filter-name>
		<url-pattern>/controller/employee/getEmployeesInGroup</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeEmployeeFilter</filter-name>
		<url-pattern>/controller/service/get</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeEmployeeFilter</filter-name>
		<url-pattern>/controller/service/getEmployeesWithService</url-pattern>
	</filter-mapping>

	<!-- Employee role trustee filter -->
	<filter>
		<filter-name>EmployeeTrusteeFilter</filter-name>
		<filter-class>de.reservo.filter.EmployeeTrusteeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EmployeeTrusteeFilter</filter-name>
		<url-pattern>/controller/serviceprovider/client/block</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeTrusteeFilter</filter-name>
		<url-pattern>/controller/serviceprovider/client/unblock</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeTrusteeFilter</filter-name>
		<url-pattern>/controller/group/add</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeTrusteeFilter</filter-name>
		<url-pattern>/controller/group/edit</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeTrusteeFilter</filter-name>
		<url-pattern>/controller/group/delete</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeTrusteeFilter</filter-name>
		<url-pattern>/controller/group/assignGroupEmployee</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeTrusteeFilter</filter-name>
		<url-pattern>/controller/group/removeAssignmentGroupEmployee</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeTrusteeFilter</filter-name>
		<url-pattern>/controller/service/add</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeTrusteeFilter</filter-name>
		<url-pattern>/controller/service/edit</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeTrusteeFilter</filter-name>
		<url-pattern>/controller/service/delete</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeTrusteeFilter</filter-name>
		<url-pattern>/controller/service/assignServiceEmployeeOrGroup</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeTrusteeFilter</filter-name>
		<url-pattern>/controller/service/removeAssignmentServiceEmployeeOrGroup</url-pattern>
	</filter-mapping>

	<!-- Employee role manager filter -->
	<filter>
		<filter-name>EmployeeManagerFilter</filter-name>
		<filter-class>de.reservo.filter.EmployeeManagerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EmployeeManagerFilter</filter-name>
		<url-pattern>/controller/serviceprovider/edit</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeManagerFilter</filter-name>
		<url-pattern>/controller/serviceprovider/delete</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeManagerFilter</filter-name>
		<url-pattern>/controller/employee/add</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeManagerFilter</filter-name>
		<url-pattern>/controller/employee/edit</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeManagerFilter</filter-name>
		<url-pattern>/controller/employee/delete</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployeeManagerFilter</filter-name>
		<url-pattern>/controller/vacation/*</url-pattern>
	</filter-mapping>

</web-app>
